.container
  .row
    .col-md-3
    .col-md-8
      .row
        .col-md-4
        .col-md-4
          %h1 Log in
      .row
        .col-md-3
        .col-md-4
          %div #{flash[:notice]}
          = form_for(:data,url:create_url) do |f|
            = f.label :email
            = f.email_field :email
            %br
            = f.label :password
            = f.password_field :password
            %br
            = f.submit "Log in", class: "btn btn-primary"



